body{
    background-color:lavenderblush;
    text-align: center;
    text-size-adjust:initial;
    font-size: 5ch;
}
.submit-button{
    font-size: 2ch; 
    border-color: #125555; 
    font-weight: bold;
    margin-bottom: 2ch;
}
.password-len-input{
    width: 5ch;
    font-size: 2ch;
}

input[type='checkbox'] {
    padding: 5ch;
    width: 25px;
    height: 25px;
}